* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: rgb(250, 186, 186);
    width: 350px;
    height: 450px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(7, 7, 7, 0.8);
}

h1 {
    margin-bottom: 25px;
}

.search {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search input {
    flex: 1;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: black;
     font-weight: bold;
}

.search button {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    background: #531dd1;
    color: white;
    cursor: pointer;
}

.search button:hover {
    background: #016cf8;
}

.weather img {
    width: 100px;
    margin: 10px;
}

.temperature {
    font-size: 85px;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.details div {
    background: #f2f2f2;
    padding: 15px;
    border-radius: 10px;
    width: 45%;
    font-weight: bold;
}


.clear {
    background: linear-gradient(135deg, #fceabb, #f8b500);
    background: url("https://images.unsplash.com/photo-1502082553048-f009c37129b9") no-repeat center center/cover;
}

.clouds {
    background: linear-gradient(135deg, #d7d2cc, #304352);
}

.rain {
    background: linear-gradient(135deg, #4b79a1, #283e51);
}

.drizzle {
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

.mist {
    background: linear-gradient(135deg, #bdc3c7, #2c3e50);
}

.snow {
    background: linear-gradient(135deg, #e6dada, #274046);
}

.thunderstorm {
    background: linear-gradient(135deg, #141e30, #243b55);
}